@{
	ViewData["Title"] = "GetToKnowJoel";
}

	<div>
		<h1>The Joel Hilton</h1>
	</div>

	<div> 
		<h3>Quick Wits Comedy</h3>
		<p>When he’s not watching or reviewing movies, Joel Hilton brings his wit 
			to the stage as a regular performer at Quick Wits Comedy. Known for its 
			fast-paced, hilarious improv shows, Quick Wits Comedy delivers unpredictable 
			entertainment every week. If you’re looking for a night full of laughs, 
			check out their performances and see Joel in action!
		</p>
		<a href="https://www.qwcomedy.com/">Visit Quick Wits Comedy!</a>
	</div>
	<div>
		<h3>Baconsale: Movies, Pop Culture, and More!</h3>
		<p>
			Joel Hilton is not just a movie enthusiast—he’s also a co-host of Baconsale,
			a podcast dedicated to movies, TV shows, and all things pop culture. Whether
			he’s debating the best film franchises, ranking superhero movies, or diving 
			into classic cinema, Joel brings his passion and humor to every episode. 
			Tune in to hear fun discussions, hot takes, and deep dives into the world of
			entertainment!
		</p>
	<a href="https://baconsale.com/">Listen to Baconsale</a>
	<br><br />
	<a href="https://baconsale.com/">
		<img src="~/img/baconsalekate.jpg" asp-append-version="true"/>
	</a>
	</div>
